<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=<form>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.4.1.min.js">
      </script>
  
    <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <style>
    .col-xs-4 {
      width: 33.33333333%;
      margin: 6px 0px 26px 54px;
  }
</style>
</head>
<body>
    <form>
        <div class="container">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="email2" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="password2" placeholder="Password">
        </div>
        <div class="form-group">
        <div class="custom-file">
          <label for="inputusername3" class="col-sm-2 col-form-label">Profile Upload</label>
          <input type="file" class="custom-file-input" id="file"name="file"  value="Upload">
        </div>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>    
        <button onclick="fun()" type="button" class="btn btn-primary"id="getValBtnID">Submit</button>
      </form>    
<hr>

<script>
function fun(){
  var email2 = document.getElementById('email2').value;
  var password2 = document.getElementById('password2').value;
  var file = document.getElementById('file').files[0];

var form_data ={
     email2:email2,
     password2:password2
}
console.log(email2);


var formData = new FormData();

    formData.append('email2',email2);
    formData.append('password2',password2);
    formData.append('file',file);

$.ajax({
    url: "/api/home/add",
    type: "POST",
   // dataType: "json",
   // contentType: 'application/json',
   data:formData,
        processData: false,
        contentType: false,
        success: function (data) {
          console.log(data)
          if (data.status) {
            swal(data.message);
             window.location = "/home";          }
        }

});
  

}
</script>


<script>
  function pop(id){
    swal({
title: "Are you sure?",
text: "You Want to Delete This!",
icon: "warning",
buttons: true,
dangerMode: true,
})
.then((willDelete) => {
if (willDelete) {
  $.ajax({
      url: '/api/home/add?id='+id,
      type: 'DELETE',
      dataType: 'json',
      contentType: 'application/json',
      //data: JSON.stringify(form_data),
      success: function (data) {
        if (data.status) {
          swal(data.message);
           window.location = "/home";
        }
      }
    })
  swal("File has been deleted!", {
    icon: "success",
  });
} else {
  swal("Your imaginary file is safe!");
}
});
  }
</script>
<script>

  function update(){
   var user_id = $("#user_id").val();
   var email_update = $("#email_update").val();
   var password_update = $("#password_update").val();
   var data = {
    user_id:user_id,
    password_update:password_update,
    email_update:email_update
     
   }
   

    $.ajax({
        url: "/api/home/user-update",
        type: "PUT",
        dataType: "json",
        contentType: 'application/json',
        data: JSON.stringify(data),
            success: function (data) {
              console.log(data)
              if (data.status) {
                swal(data.message);
                window.location = "/home";          }
            }

    });
  }
    function getUserById(id){

            $.ajax({
              url: '/api/get-user-by-id/'+id,
              type: "GET",
              dataType: 'json',
              contentType: 'application/json',
              success: function (data) {
                if (data.status) {
                       var res = data.data[0];
                       console.log(res)
                       $("#email_update").val(res.email2);
                       $("#password_update").val(res.password2);
                       $("#user_id").val(res._id);
                }
              }
          })
      
        }
</script>
<div class="container">
      <table class="table">
          <tr>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Profile</th>
            <th scope="col">Delete</th>
            <th scope="col">Edit</th>

          </tr>
          <% for(var i=0; i< data.length; i++) {%>
            <tr>
            <td><%= data[i].email2 %></td>
            <td><%= data[i].password2 %></td>
            <td><img src="<%= data[i].fullUrl%>" style="height:50px"></td>
            
            <td><button onclick="pop('<%= data[i]._id%>')"type="button" class="btn btn-danger">Delete</button></td>
            <td> <div class="row">
              <div class="col-xs-12">
                <div class="box box-default">
                  <div class="box-header with-border">
                    </div>
                  <div class="box-body">
                    <button type="button" onclick="getUserById('<%= data[i]._id%>')"class="btn btn-primary" data-toggle="modal" data-target="#modal-default">
                      Edit
                    </button>       
                  </div>
                </div>
              </div>
            </div>          
              <div class="modal fade" id="modal-default">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">Edit User Info</h4>
                    </div>
                    <div class="modal-body">
                      <p>One fine body&hellip;</p>
                    </div>
                    <form>
                      <div class="row">
                        <div class="col-xs-4">
                          <label for="ex3">Email</label>
                          <input class="form-control" id="email_update" type="text"placeholder="Change Email@ Adress">
                          <input type="hidden" id="user_id">
                        </div>
                        <div class="col-xs-4">
                          <label for="ex3">Password</label>
                          <input class="form-control" id="password_update" type="text"placeholder="Change Password">
                        </div>
                      </div>
                    </form>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                      <button onclick="update()"type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                    </div>
                  </div>   
           </td></td>
          </tr>      
          <% } %>
      </table>
    </div>
  </div>

</body>
</html>